@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body {
  margin: 0;
  font-family: 'Sigmar One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}